.wrapper {
	> form {
		position: relative;
		justify-content: center;
		align-items: center;
		width: 400px;
		height: 460px;
		border: 6px solid var(--auth-border);
		border-radius: 10px;
		transition: .5s;
		background-color: var(--auth);
		transition: background-color 200ms linear;
		padding: 20px;
		box-shadow: 3px 3px rgba(0, 0, 0, .2);
	}
}

.wrapperButtons {
	display: flex;
	align-items: center;
	justify-content: space-between;

	> div {
		width: 48%;
		> button {
			width: 100%;
		}
	}
}